@import url("https://use.typekit.net/qjh7lmr.css");

* { box-sizing: border-box; }

h2{
	text-align: center;
}

.full-width {
	width: 100%
}

.sub-subheader {
	display: flex;
	color: white;
	font-family: 'Luckiest Guy';
	text-decoration: none;
	width: 100%;
	text-align: center;
	justify-content: center;
}

#board {
	display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid white;
    background-color: white;
    grid-gap: 2px;
}

#scores {
	margin-bottom: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

#elapsed {
	margin-left: 1rem;
}

.color-score {
	padding: 0 4rem;
	color: white;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 5.5rem;
	width: 5.5rem;
}

.hovered_over:hover {
	background: url('../assets/hover.svg'), yellow;
	background-size: 100% 100%;
	opacity: .75;
	overflow: visible;
}

#message-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

#board-column {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.fade-in {
	animation: fadeUp 2s ease-in-out;
	animation-iteration-count: 1;
}

@keyframes fadeUp {
	 0% {
	 	opacity: 0;
	 }
	 100% {
	 	opacity: 1;
	 }
}

.fade-out {
	animation: fadeDown 2s ease-in-out;
	animation-iteration-count: 1;
}

@keyframes fadeDown {
	 0% {
	 	opacity: 1;
	 }
	 100% {
	 	opacity: 0;
	 }
}

.dark-to-light{
	animation: flip 1s ease-in-out;
	animation-iteration-count: 1;
}

.light-to-dark{
	animation: flip 1s ease-in-out;
	animation-iteration-count: 1;
}

.light-to-dark.token { 
	animation: light-dark 1s ease-in-out;
	animation-iteration-count: 1;
}

.dark-to-light.token {
	animation: darklight 1s ease-in-out;
	animation-iteration-count: 1;
}

@keyframes flip {
	 0% 50% {
	 	opacity: 0;
	    transform: rotateY(0deg) rotateZ(0deg);
	 }
	 100% {
	 	opacity: 1;
	    transform: rotateY(180deg) rotateZ(-130deg);
	 }
}

@keyframes light-dark {
	0% {
	 	fill: #69FFE6;
	}
	50% {
	 	fill: #25B39B;
	}
	100% {
	 	fill: #25B39B;
	}
}

@keyframes dark-light {
	0% {
	 	fill: #25B39B;
	}
	50% {
	 	fill: #69FFE6;
	}
	100% {
	 	fill: #69FFE6;
	}
}

.hover {
	opacity: .25;
	animation: pulse 2s ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes flash {
	0% {
	 	opacity: 0;
	}
	50% {
	 	opacity: 1;
	}
	100% {
	 	opacity: 0;
	}
}

@keyframes pulse {
	0% {
	 	transform: scale(.3);
	}
	50% {
	 	transform: scale(1.5);
	}
	100% {
	 	transform: scale(.3);
	}
}

.transitional {
	height: 15rem;
	animation: flash 1s ease-in-out;
	animation-iteration-count: 1;

}

#game_over {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P';
    color: white;
}

.game_over {
	position: absolute;
	height:120%;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.75);
	z-index: 10;
}

#quit {
	position: absolute;
	right: 10rem;
}

@media (max-width:700px) {
	#quit {
		position: absolute;
		right: 1rem;
	}

	.square {
		height: 12vw;
		width: 12vw;
	}
}